/* 
    Document   : identificateurs
    Created on : Jun 17, 2013, 10:10:41 AM
    Author     : bretzel
    Description:
        Purpose of the stylesheet follows.
*/


/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:500);
@import url(http://fonts.googleapis.com/css?family=Oswald);


body
{
    background-color: #f0f0f0;
    background-image: url('images/bg2.png');
    margin : 10px auto;
    
}

