/* 
    Document   : identificateurs
    Created on : Jun 17, 2013, 10:10:41 AM
    Author     : bretzel
    Description:
        Purpose of the stylesheet follows.
*/


/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
/* Borrowed code:                                                                */
/*           box-shadow :0 1px 0 rgba(255,255,255,0.1),inset 0 1px 0 #000;       */
/*           box-shadow : box-shadow: 0 0 40px 5px black;                        */
/*           background: rgba(0,0,0,0.3);                                        */
/*********************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:500);
@import url(http://fonts.googleapis.com/css?family=Oswald);


body
{
    background-color: #f0f0f0;
    background-image: url('images/grey_wash_wall.png');
    margin : 10px auto;
    
}

/* site layout */
* {
    margin: 0;
    padding: 0;
    border: none;
}


#pg-root{
  margin:10px;  
}

#bretzel-logo{
    font-family: Roboto;
    font-size:   16pt;
    color:#00d0d0;
    text-shadow: 0px 0px 12px #87ceeb;
}
#main-bar{
    margin-left     : 25px; 
    margin-right    : 25px;
    margin-bottom   : 25px;
    margin-top: -10px;
    padding         : 5px;
}

#main-bar h4{
    font-family: Roboto;
    font-size :  9pt;
    color     :  #c0c0c0;
}


#main{
    
}


.box1{
    box-shadow :0 1px 0 rgba(255,255,255,0.1),inset 0 1px 0 #000;
    background: rgba(0,0,0,0.3);
}


.fwindow{
    box-shadow : 0 0 40px 5px black;
    border: 10px solid rgba(0,0,0,0.3);
    padding:5px;
}

.winclient{
    
    width:100%;
    height: 100%;
    
}
