
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:500);
@import url(http://fonts.googleapis.com/css?family=Oswald);





/* h3 Color blue : #155c8e; font-size: 24px; line-height:30px; margin:0px 0px 10px 0px; */
*
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body, textarea
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #565656;
}

body
{
    background-color: white;/*#e8e8e8;*/
    background-image: url('images/bg2.png');
    margin : 10px auto;
    margin-top: 10px;
}

pre {
    font-family: "Source Code Pro";
    font-size: 8pt;
/*    border-width: 1px;
    border-style: solid;*/
    box-shadow: inset 0px 0px 8px #c0c0c0;
    padding: 10px;
}



input[type=text]{
    border: none;
    outline : none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #565656;
}

hr
{
    border: 0;
    border-top: solid 1px #ccc;
    padding: 1.5em 0 0 0;
    margin: 1.75em 0 0 0;
}

.image
{
    display: inline-block;
}

.input-wraper {
/*    border: 1px solid darkblue;
    border-radius:  2px;*/
    display: -moz-inline-stack;
    display: inline-block;
    zoom:1;
    *display:inline;
    padding-right:5px;
    vertical-align:middle;
    
    min-height: 24px;
}

.finegrain{
    min-height: 32px;
    background: url("images/bg-finegrain.png");
}

table{ border: 1px solid #ccf5ff;border-collapse:collapse; background-color: white;}
td { border: 1px solid #ccf5ff; text-align: left; padding-left:5px; padding-right:5px;}
th { border-right: 1px solid #ccf5ff; border-bottom: 1px solid #c0f5ff; text-align: right;background-color: #fff;}
caption{ 
    border: 1px solid #c0f5ff;
    border-bottom : none;
    background-color: white;
}
